<h1><%= @cat.name %>'s Tricks</h1>

<ul>
  <% @tricks.each do |trick| %>
    <li><%= trick.name %></li>
  <% end %>
</ul>

<hr />

<%= link_to "Add a Trick", new_cat_trick_path(@cat) %>

<br /><br />

<%= link_to "Back to cat's profile", cat_path(@cat) %>
