<h2><%= @cat.name %></h2>

<p>Color: <%= @cat.color %></p>

<% if @cat.tricks.count > 0 %>
  <ul>
    <% @cat.cat_tricks.each_with_index do |trick, i| %>
      <li><strong><%= Trick.find_by_id(trick.trick_id).name %></strong> (Rating: <%= trick.rating %>)</li>
    <% end %>
  </ul>
<% else %>
  Your cat doesn't know anything yet!
<% end %>
