<div>
  Hi, <%= current_user.email %>!
</div>

<br /><br />

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %></p>
  </div>
<% end %>

<p>Your Cats</p>

<div>
  <ul>
    <% if current_user.cats.count > 0 %>
      <% current_user.cats.each do |cat| %>
        <li><%= link_to cat.name, cat_path(cat) %></li>
      <% end %>
    <% else %>
      You have no cats yet.
    <% end %>
  </ul>
</div>

<%= link_to "Add a New Cat", new_cat_path %>
