<div>
  Welcome <%= current_user.email %>
</div>

<div>
  <% if current_user.cats.count > 1 %>
    <% current_user.cats each do |cat| %>
      <%= cat.name %>
    <% end %>
  <% else %>
    You have no cats yet.
  <% end %>
</div>

<%= link_to "Add a Cat", new_cat_path %>
