<div>
  Hi, <%= current_user.email %>!
</div>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
    <%= flash[:notice] = nil %>
  </div>
<% end %>

<br />

<h5>Your Cats</h5>

<div>
  <% if current_user.cats.count > 0 %>
    <ul id="cat_list"></ul>
  <% else %>
    You have no cats yet.
  <% end %>
</div>



<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $.ajax({
      method: "GET",
      url: "/cats",
    }).done(function(cats){
      $.each(cats, function(index, cat) {
        $("#cat_list").append("<li>" + cat.name + "</li>")
      })
    })
  })
</script>


<%= link_to "Add a New Cat", new_cat_path %>
